<%- include('partials/header'); -%> 

<header>
    <div class="smoothie">
        <img src="/smoothie.png" alt="image">
    </div>
    <div class="headings">
        <h1>Smoothie Recipes</h1>
        
        <h3>By me</h3>
        <a href="/smoothies" class="btn">View Recipies</a>
    </div>
</header>

<%- include('partials/footer') %> 